body{
    font-family: 'Poppins', sans-serif;
    background: #F7F9FD;
}


.offer-container{
    width: 60%;
    margin: 1.8rem auto;
    border-radius: 12px;
    box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.84);
    padding: 1rem;
}
.offer__container-upper{
    display: flex;
    align-items: flex-start;
}
.offer-container img{
    width:45px;
    height:auto;
}

.offer-container .job__info {
    padding: 0rem 1rem;
    width: 100%;
}
.offer-container .job__info h3{
    font-size: 1.8rem;
}
.offer-container .job__info h4{
    font-size: 1rem;
}
.offer-container .job__info p{
    font-size: .8rem;
}

.job__company{
    color: rgb(249, 142, 87);
}

.types__container{
    width:50%;
    margin: 0 auto;
    padding:1rem;
    display: flex;
    justify-content: space-evenly;
    border-radius:5px;
    background: #F7F9FD;
}

.input__container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input__container label{
    margin-right: 5px;
    font-weight: 400;
}
.job__info__icons{
    display:flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    color: rgba(122, 119, 119, 0.884);
}

.job__role{
    cursor: pointer;
}
/* Navbar styles */

.navbar__container{
    padding: 1rem .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.cta__options{
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.cta__secondary__btn{
    border: none;
    background: transparent;
}
.cta__secondary__btn:hover{
    color: #3888ff;
}
.cta__primary__btn{
    padding: .4rem 1.2rem;
    border-radius: 2px;
    text-align: center;
    border: none;
    background:linear-gradient(to right, #1488CC,#2B32B2);
    color: white;

}
/* header styles */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.header__cta .header__cta__title{
    font-size: 3.5rem;
}
.header__cta h2 {
    width: 70%;
    font-size: 1.5rem;
    font-weight:400;
    padding: 1.5rem 0rem;
}
 .header__svg{
    width: 100%;
    height: auto;
}
.header_cta_btn{
    border: none;
    background:linear-gradient(to right, #1488CC,#2B32B2);
}
.cta__primary__btn_cv{
    margin-left: 2rem;
    border: none;
    background: none;
    /* display: flex;
    justify-content: space-between; */
}